{% extends 'base.html' %}

{% block title %} Mi Kakebo - Modificación {% endblock %}

{% block contenido %}
<form action="{{registro[3]}}" method="post">

    <div class="field">
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required value="{{registro[0]}}">
    </div>

    <div class="field">
        <label for="conceto">Concepto:</label>
        <input type="text" name="concepto" required value="{{registro[1]}}">
    </div>

    <div class="field">
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" step="0.01" required value="{{registro[2]}}">
    </div>

    <div class="field">
        <input type="submit" value='Modifica movimiento'>
    </div>
    <div><p></p></div>

    <div class="field">
        <input type="submit" value='Elimina movimiento'>
    </div>

</form>

{% endblock %}